In [2]:
import pandas as pd
df_1 = pd.read_csv('../data/01_world_spatio_temporal_plastic_production_v1.csv')
df_1.columns = ['index',  'country', 'code', 'year', 'plastic_produced',]
df_1.head()

   index  country code  year  plastic_produced
0      0  Myanmar  MMR  1990      70910.119571
1      0  Myanmar  MMR  1991      69389.435247
2      0  Myanmar  MMR  1992      80845.303313
3      0  Myanmar  MMR  1993     106037.640269
4      0  Myanmar  MMR  1994     148587.769477

In [3]:
import geopandas as gpd
world = gpd.read_file('../data/ne_110m_admin_0_countries/ne_110m_admin_0_countries.shp')

#United States of America
world.loc[world['NAME'] == "Dem. Rep. Congo", 'NAME'] = 'Democratic Republic of Congo'
world.loc[world['NAME'] == "Eq. Guinea", 'NAME'] = 'Equatorial Guinea'
world.loc[world['NAME'] == "United States of America", 'NAME'] = 'United States'

In [4]:
set_01 = set(world.NAME)
set_02 = set(df_1.country)
len(set_01.intersection(set_02))

122

We lost some values (25% or 44 countries), but it's okay. Later we will figure out why there are some geometries missing.

In [5]:
# merging
gdf = world.merge(df_1, left_on='NAME', right_on='country')

# saving
gdf.to_csv('../data/02_world_spatio_temporal_plastic_production_v0.csv')

Some columns in world are redundunt. We need to remove them (maybe all except geometry,index, NAME)

In [ ]:
import plotly.express as px
# Create an animated choropleth map
fig = px.choropleth(gdf,
                    geojson=gdf.geometry,
                    locations=gdf.index,
                    color='plastic_produced',
                    hover_name='country',
                    hover_data=['plastic_produced'],
                    animation_frame='year',
                    projection='natural earth')

fig.update_geos(fitbounds="locations", visible=False)
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

fig.show()

TODO:

• [] Work on the colorscheme of the visualized data

• [] Remove redundunt columns from the gdf