In [1]:
import pandas as pd
from owid import catalog

In [3]:
# opening TheWorldBanks's catalogue (through OurWordlInData API) to see what kind of datasets they have related to "plastic"
plastic_catalogs = catalog.find('plastic')
plastic_catalogs.table.unique()

# loading up and taking a first look into some of the datasets 
dataset_name = "plastic_aquatic_leakage"
dataset_path = plastic_catalogs[plastic_catalogs['table'] == dataset_name].path.iloc[0]

# loading method from the docs
rc = catalog.RemoteCatalog() 
plastic_waste_df = rc[dataset_path]

In [11]:
plastic_waste_df.index.get_level_values(0).unique()

CategoricalIndex(['Americas (excl. USA)', 'Asia (excl. China and India)',
                  'China', 'Europe', 'India', 'Middle East & North Africa',
                  'Oceania', 'Sub-Saharan Africa', 'United States', 'World'],
                 categories=['Americas (excl. USA)', 'Asia (excl. China and India)', 'China', 'Europe', ..., 'Oceania', 'Sub-Saharan Africa', 'United States', 'World'], ordered=False, dtype='category', name='country')

In [12]:
plastic_waste_df

                                                                                    value  \
country              year leakage_type
Americas (excl. USA) 2000 Accumulated stock in oceans                           1104799.0
                          Accumulated stock in rivers and lakes                 3986388.0
                          Plastic leakage to water from mismanaged waste ...     360642.0
                          Transport to oceans                                     87143.0
                     2001 Accumulated stock in oceans                           1198096.0
...                                                                                   ...
World                2018 Transport to oceans                                   1607172.0
                     2019 Accumulated stock in oceans                          30408748.0
                          Accumulated stock in rivers and lakes               109437000.0
                          Plastic leakage to water from mismanaged waste ...    6096216.0
                          Transport to oceans                                   1661229.0

                                                                                   share
country              year leakage_type
Americas (excl. USA) 2000 Accumulated stock in oceans                          13.040980
                          Accumulated stock in rivers and lakes                10.334739
                          Plastic leakage to water from mismanaged waste ...   11.337855
                          Transport to oceans                                  13.624673
                     2001 Accumulated stock in oceans                          13.088292
...                                                                                  ...
World                2018 Transport to oceans                                 100.000000
                     2019 Accumulated stock in oceans                         100.000000
                          Accumulated stock in rivers and lakes               100.000000
                          Plastic leakage to water from mismanaged waste ...  100.000000
                          Transport to oceans                                 100.000000

[800 rows x 2 columns]